body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#top-cont{
    height: 60px;
    background-color: #BD3B1B;
    border: none;
}
#top-cont2{
    padding: 15px 27px;
    background-color:#87B615;
    border: none;
    color: black;
    font-size: 30px;
  
    
}
#section1{
    background-image: url(backgroundindexnew2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 770px;
    
}
#section2{
    padding: 40px 27px;
   
}
#section3{
    padding: 40px 27px;
    
}
#section4{
    background-image: url(image\ behind\ the\ counter.png);
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#section5{
   
    padding: 30px 27px;
    background-color: #BD3B1B;
   
}

nav{
    /* height: 80px; */
    color: rgb(0, 0, 0);
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav ul{
    list-style: none;
    display: flex;

}
nav ul li{
  
    padding: 0 25px 0 0;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
letter-spacing: 1px;
text-decoration: none !important;
}
nav .menu-btn i{
    font-size: 22px;
    cursor: pointer;
    padding-right: 10px;
    display: none;
}
.navbar-brand{
    color: black;

}
.navbar-brand:hover{
    color: black;

}
#check{
    display: none;
}
.aboutus h2{
    margin-bottom: 20px;
}
.homebox{
    
    padding: 10px;
    width:350px;
    height: fit-content;
    text-align: center;
    margin: 120px auto 0px;
}
.homebox p{
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;

}
.inqbut{
    background-color: #BD3B1B;
    color: white;
    margin: 10px 0px;
    font-size: 22px;
    letter-spacing: 1px;

}
.otherschool{
    text-decoration: none !important;
    width: 165px;
    padding: 10px;
    background-color: #BD3B1B;
    border-radius: 5px;
    text-decoration: none !important;
    color: white;
    display: block;
    margin-top: 40px;
}
.otherschool:hover{
    color: whitesmoke;
}
.buttons{
    text-align: center;
    width: 500px;
    margin:50px auto 0px;
}

.btn1{
    display: inline-block;
}
.otherschools{
    width: 180px;
    height: 40px;
    background-color: #BD3B1B;
    color: black;
}

.symbol{
    font-size: 60px;
    text-align: center;
}
.inqbut2{
    background-color: #BD3B1B;
    color: white;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;

}
.alertbox{
    font-size: 30px;
    font-weight: bold;
}
.scores{
    background: rgb(236, 227, 227);
    border: 2em solid rgb(212, 212, 212);
    border-radius: 50%;
    box-shadow: 0 0 060px rgba(12, 26, 65, 0.125);
    height:200px;
    width: 200px;
    line-height: 130px;
   opacity:0.8;
    text-align: center;
    margin: 0 auto;
}
.poster{
    text-align: center;
    margin: 0px auto;
   padding: 60px 3%;
}
.container1{
    color: white;
    margin: 0px auto;
  
    width: auto;
    padding: 0 10px;
   
}
.row1{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 33.33%;
    padding: 40px 25px;
}
.footer-col h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}
.footer-col ul li{
    margin-bottom: 18px;
}
.foot-name p{
    padding-top: 50px;
    font-size: 20px;
}
.foot-link ul{
   position: relative;
   left: -40px;
}
.foot-link ul li a{
    font-size: 20px;
    text-decoration: none !important;
    color: white;
}
.value{
    font-size: 25px;
    font-weight: 800;
    color: rgb(0, 0, 0);
}
.poster .col-lg-3 p{
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: 1px;

}
.logo{
    height: 130px;
    width: 150px;
    padding-right: 20px;
}










/* test */
/* header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
  }
  
  ul a {
    color: white;
   
  }
  
  ul li {
    padding: 5px;
    
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #login,
  #signup {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #login {
    border: 1px solid #498afb;
  }
  
  #signup {
    border: 1px solid #ff3860;
  }
  
  #signup a {
    color: #ff3860;
  }
  
  #login a {
    color: #498afb;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: 100px;
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  

 */



@media only screen and (max-width:940px) {
    html,body{
        overflow-x: hidden;
        margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }
    #section2{
        padding: 40px 5px;
       
    }
    #section3{
        padding: 40px 5px;
        
    }
    #section4{
        background-image: url(image\ behind\ the\ counter.png);
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    #section5{
        padding: 30px 5px;
        background-color: #BD3B1B;
       
    }
    #top-cont{
   
        height: 48px;
        background-color: #BD3B1B;
        border: none;
    }
    #top-cont2{
        padding: 20px 5px;
        background-color: #BD3B1B;
        border: none;
        color: black;
        font-size: 20px;
        
        
    }
    nav{
        padding: 4px;
    }
    #check:checked ~ .menu-btn i :before{
        content: "\f00d";
    }
    nav ul{
        position: fixed;
        top: 170px;
        
        height: 100vh;
        
        background-color: rgb(138, 138, 130);
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 9999;
    }
    nav ul li{
        padding: 10px 0;
    }
    nav .menu-btn i{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .footer-col{
        width: 100%;
        padding: 40px 15px;
    }
    .container1{
        color: black;
        margin: 10px auto;
       
        width:100%;
    }
    .buttons{
        text-align: center;
        /* width: 500px; */
        margin:50px auto 0px;
    }






    /* test

    header nav {
        display: none;
      }
    
      #hamburger-icon {
        display: block;
      } */
}